@use "../../../App.scss";
header {
  position: fixed;
  top: 0;
  // background-color: map-get(App.$colors, primary4);
  // backdrop-filter: blur(App.rem(10));
  // background: transparent;
  z-index: 10;
  width: 100%;
  max-height: App.rem(200);
  .headerContainer {
    @include App.mobile {
      display: grid !important;
      max-height: App.rem(50);
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
