@use "../../../App.scss";
header {
  position: fixed;
  // background-color: rgb(132, 59, 59);
  z-index: 10;
  width: 100%;
  .container {
    @include App.mobile {
      display: grid !important;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
