@use "../../App.scss";
.about {
  padding: App.rem(16) 0;
  .content {
    @include App.desktop {
      flex-direction: row !important;
      text-align: start !important;
      gap: App.rem(60);
    }
  }
  &__title {
    @include App.desktop {
      flex: 1;
    }
    h3 {
      @include App.desktop {
        font-size: map-get(App.$font-sizes-desktop, h2) !important;
      }
      @include App.medium {
        font-size: map-get(App.$font-sizes-desktop, h3) !important;
      }
      font-size: map-get(App.$font-sizes-mobile, h3);
      line-height: 150%;
      background: linear-gradient(
        to right,
        map-get(App.$colors, gradient1),
        map-get(App.$colors, gradient3)
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 400 !important;
    }
  }
  &__paragraph {
    @include App.desktop {
      flex: 3;
    }
    p {
      @include App.desktop {
        font-size: map-get(App.$font-sizes-desktop, pargraph) !important;
      }
      line-height: 150%;
      color: map-get(App.$colors, primary1);
      // font-size: map-get(App.$font-sizes-mobile, pargraph);
    }
  }
}
