@use "../../App.scss";
header {
  position: fixed;
  top: 0;
  // background-color: map-get(App.$colors, primary4);
  // backdrop-filter: blur(App.rem(10));
  // background: transparent;
  z-index: 10;
  width: 100%;
  max-height: App.rem(200);
  .headerContainer {
    @include App.mobile {
      display: grid !important;
      max-height: App.rem(50);
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
.header__alt {
  // background-color: transparent !important;
  // position: static;
  justify-content: space-between;
  @include App.desktop {
  }
  .me-auto {
    margin: 0 !important;
    a {
      color: map-get(App.$colors, primary4);
      &:hover {
        a {
          &::before {
            width: 100%;
          }
        }
      }
      a {
        position: relative;
        padding: 0;
        &::before {
          content: "";
          position: absolute;
          bottom: App.rem(-8);
          left: 0;
          width: 0%;
          height: App.rem(2);
          background: linear-gradient(
            to right,
            map-get(App.$colors, gradient1),
            map-get(App.$colors, gradient3)
          );
        }
      }
    }
  }
}
