@use "../../App.scss";
@font-face {
  font-family: "Heebo";
  src: url(../../assets/fonts/Heebo/Heebo-VariableFont_wght.ttf);
  //   src: url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
  font-weight: 100 900;
}
.navbar-nav {
  @include App.mobile {
    //  display: none !important;
    flex-direction: column !important;
   //  position: absolute !important;
    padding: 0;
    margin: 0;
    background-color: #000;
   //  top: 70px;
    width: 100%;
    grid-column: span 2;
    a {
      color: #fff !important;
    }
  }
  font-family: "Heebo";
  margin-left: App.rem(70) - App.rem(16);
  a {
    font-size: map-get(App.$font-sizes-desktop, small) !important;
    padding: App.rem(8) App.rem(16) !important;
    font-weight: 600;
    //  color: map-get(App.$colors, whiteColor) !important;
  }
}
