@use "../../App.scss";
.footer {
  @include App.desktop {
    padding: App.rem(24) 0;
  }
  margin-top: App.rem(1882-1818);
  .flex {
    @include App.desktop {
      justify-content: space-between !important;
    }
    .footer__logo {
      display: none !important;
      @include App.desktop {
        display: block !important;
      }
    }
    .nav__bar {
      .me-auto {
        a {
          color: map-get(App.$colors, primary1);
          @include App.desktop {
            color: map-get(App.$colors, primary4);
            opacity: 1;
          }
          font-weight: 600;
          opacity: 0.5;
        }
      }
    }
  }
}
