// variables maps
@use "sass:math";

@function rem($px) {
  @return (math.div($px, 16) * 1rem);
}
$colors: (
  "primary1": rgba(6, 59, 95, 1),
  "primary2": rgb(8, 79, 126),
  "primary3": rgb(13, 118, 189),
  "primary4": rgb(29, 155, 240),
  "primary5": rgb(74, 175, 243),
  "primary6": rgb(119, 195, 246),
  "primary7": rgb(165, 215, 249),
  "primary8": rgb(195, 228, 251),
  "accent": rgb(240, 190, 5),
  "neutral-1": rgb(246, 246, 246),
  "gradient-1": rgb(49, 246, 246),
  "gradient-2": rgb(29, 155, 240),
  "whiteColor": rgb(255, 255, 255),
);

$font-sizes-desktop: (
  "h1": rem(48),
  "h2": rem(40),
  "h3": rem(28),
  "h4": rem(20),
  "small": rem(16),
  "pargraph": rem(20),
);

$font-sizes-mobile: (
  "h1": rem(33),
  "h2": rem(28),
  "h3": rem(23),
  "h4": rem(19),
  "h5": rem(16),
  "small": rem(13),
  "pargraph": rem(11),
);

$grid-breakpoints: (
  "xs": 0,
  "sm": rem(576),
  "md": rem(768),
  "lg": rem(992),
  "xl": rem(1200),
  "xxl": rem(1400),
);

@mixin mobile() {
  @media (min-width: map-get($grid-breakpoints,xs)) and (max-width: map-get($grid-breakpoints,md)) {
    @content;
  }
}
@mixin desktop() {
  @media (min-width: map-get($grid-breakpoints,md)) {
    @content;
  }
}
