@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato/Lato-Regular.ttf");
  src: url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");
  font-weight: 100 900;
}
@font-face {
  font-family: "Heebo";
  src: url("./assets/fonts/Heebo/Heebo-VariableFont_wght.ttf");
  src: url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
  font-weight: 100 900;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s;
  scroll-behavior: smooth;
}

html,
body {
  /* height: 10000000px; */
  font-size: 100% !important;
  font-family: "Heebo" !important;
}
img {
  max-width: 100%;
}
