@use "../../App.scss";
.mobile-menu {
  z-index: 3;
  display: none;
  border: none !important;
  background: none !important;
  @include App.mobile {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  cursor: default !important;
  div {
    padding: 10px;
    &:hover {
      cursor: pointer;
    }
    span {
      width: App.rem(18.24);
      height: App.rem(1);
      display: block;
      position: relative;
      background-color: map-get(App.$colors, whiteColor);
      &:not(:last-child) {
        margin-bottom: App.rem(6);
      }
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: App.rem(1);
        background-color: inherit;
        top: -6px;
        // transform: translateY(-6px);
        left: 0;
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: App.rem(1);
        background-color: inherit;
        top: 6px;
        // transform: translateY(6px);
        left: 0;
      }
    }
  }
}
#mobile__contact {
  div {
    span {
      background-color: map-get(App.$colors, blackColor);
      &::before,
      &::after {
        background-color: map-get(App.$colors, blackColor) !important;
      }
    }
  }
}
